$blue: #60a5fa;
$red: #ef4444;
$green: #22c55e;
$gold: #f59e0b;
$font: monospace;

// Defining mixins in Sass
// can also include arguments with default values
@mixin flex-it($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin shadow($color: #000000) {
  box-shadow: 4px 4px 10px 5px rgba($color, 0.5);
}

@mixin transition($time: 150ms) {
  transition: all $time ease-in;
}