* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

main {
  padding-top: 8rem;
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  margin: 0;
  text-wrap: nowrap;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-btns {
  width: 100%;
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1rem 2rem;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  color: black;
  border-radius: 100%;
  background-color: white;
  margin: 0 1rem;
  padding: 1rem;
  font-size: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: all 150ms;
}

.nav-btn:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}
